.navbar {
    background-color: white;
    padding-bottom: 20px;
    padding-top: 2 px;
    padding-left: 15px;
}

.in{
    margin-top: 30px !important;
    
}
.dropdown-menu {
    box-shadow: none;
    
    
}

