<nav class = "usernav">
  <div style="width:100%; background-color: #F8F8F8; padding: 5px;"><span class="glyphicon glyphicon-chevron-right"></span><span class="glyphicon glyphicon-chevron-down"></span>Search</div>
  <div style="width:100%; background-color: white; padding: 5px;">
      <label for="location" style="width:100%">Location </label>
      <input id="location" class="form-control" style="width:100%"type="text">
      <label for="radius" style="width:100%">Search Radius </label>
      <input id="radius" class="form-control" style="width:100%"type="number">
      <label for="category" style="width:100%">Category</label>
      <input id="category" class="form-control" style="width:100%"type="text">
  </div>
</nav>