@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie');

.list-item-container {
    width:100%; 
    
    margin: 0px; 
    margin-bottom:10px;
}

.list-item-container-left-col{
    width: 170px;
    float: left;
    border: 10px solid white;
    margin-right: 10px;
}

.list-item-container-left-col-image{
    height: 125px;
    background-color: #00173d; 
    background-size:cover;
    background-position:center;
}

.list-item-container-left-col-footer{
    height:30px; 
    padding-top: 10px;
    background-color:white;
    font-size: 30px;
    text-align: center;
    font-family: 'Reenie Beanie', cursive;
    line-height: 28px;
    color: darkblue;

    

    
}

.list-item-container-right-col-element{
    background-color: #F7F7F7; 
    padding-bottom:0px;
    overflow:hidden;
    padding-left: 10px;
    padding-right: 10px;
}

.date{
    height: 40px;
    line-height: 40px;
    font-size: 11px;
    padding-top:5px;
}

.heading{
    height:25px;
    line-height: 25px;
}

.description {
    height:55px;
    line-height: 25px;
}

.organizer {
    height: 25px;
    line-height: 25px;
}

.footer{
    height:30px; 
    
    background-color: #F0F0F0;
    line-height: 30px;
    cursor: pointer;
    
}

.footer-left{
    float: left;
    width: calc(100% - 100px);
    overflow: hidden;
}

.footer-right{
    float: left;
    width: 100px;
    text-align: right;
}