<div class="row">
    <div class="col-sm-8 col-sm-offset-4"><h3>welcome sophia</h3></div>
</div>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-2"><img
            src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAVPAAAAJDM3NTE1MjQ0LTFmNmQtNGY3ZS04NTg0LWRmNTJmZGFiYWVjNg.jpg"></div>
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-8">
                <h5>info</h5>
            </div>            
        </div> 
        <div class="row">
            <div class="col-sm-8">
                <table class="table">
                    <tr>
                        <td>
                            Name
                        </td>
                        <td>
                            Sophia 
                        </td>
                        <td class="align-right">
                            <span class="glyphicon glyphicon-pencil" style="cursor:pointer;"></span>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Surname
                        </td>
                        <td>
                            Felker
                        </td>
                        <td class="align-right">
                            <span class="glyphicon glyphicon-pencil" style="cursor:pointer;"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Birthday
                        </td>
                        <td>
                            4. September 1987
                        </td>
                        <td class="align-right">
                            <span class="glyphicon glyphicon-pencil" style="cursor:pointer;"></span>
                        </td>
                    </tr>
                    
                </table>
            </div>            
        </div>
        
        <div class="row">
            <div class="col-sm-8">
                <h5>about me</h5>
            </div>            
        </div> 
        
        <div class="row">
            <div class="col-sm-8">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>            
        </div>
        
    </div>
</div>
<h4 align="center">ff</h4>